.bars {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  /* align-items: center; */
}
.bardata{
  position: relative;
    align-items: center;
    text-align: center;
    font-weight:  bold ;
    z-index: 999;
}
.bar {
  background-color: var(--color10);
  z-index: 999;
  color: white;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.bars::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, black 1px, transparent 1px),
    linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust the size of the grid cells */
}

.array{
  font-family:'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: larger;
  align-self: center;
  max-width: 20vw;
  margin-left: 20px;
}
.d-none{
  display: none;
}