.bars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  /* align-items: center; */
}
.bardata{
    align-items: center;
    text-align: center;
    font-weight:  bold ;
    z-index: 1;
}
.bar {
  background-color: var(--color10);
  z-index: 1;
  color: aqua;
  text-align: center;
  /* margin:1vh 1vw 0 1vw; */
}

.bars {
  position: relative;
}

.bars::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, black 1px, transparent 1px),
    linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust the size of the grid cells */
}
