:root{
    --color40:#DDE6ED;
    --color30:#9DB2BF;
    --color20:#526D82;
    --color10:#27374D;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 9vh;
    background-color: var(--color30);
    padding: 1vh 0 1vh 0;
    border-bottom: 1px double var(--color10);
    border-radius: 0 0 8px 8px;
}   
.logo{
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    font-weight: bold;
    color: #27374D;
}
/* .header>div>button{
    font-size: x-large;
    margin: 1vh 0 1vh 0;
    padding: 7px;
    background-color: var(--color10);
    color: whitesmoke;
    border-radius: 25%;
} */

.sorts{
    display: flex;
    justify-content: space-evenly;
}
.sorts>*{
    margin: 5px;
    text-decoration: none;
    color: #fdfdfd;
}